node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Misc
*.end
misc/

# Development files
/contracts/build/
/contracts/node_modules/
*.log
.massa/

# IDE
.vscode/
.idea/
*.swp
*.swo
